* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
}

.tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.btn-tabs {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
  font-size: 17px;
}

.btn-tabs:hover {
  background-color: #ddd;
}

.btn-tabs.active {
  background-color: #ccc;
}

.conteudo-tab {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.fechar-tab {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.fechar-tab:hover {
  color: #f00;
}