.conteiner_img {
  position: relative;
  width: 50%;
  margin: 10px;
}

.conteiner_img:hover  .sobreposicao {
  opacity: 1;
}

.conteiner_img img {
  display: block;
  width: 100%;
  height: auto;
}

.sobreposicao {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #005a89;
  overflow: hidden;
  transition: .4s ease;
}

.texto_img {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.texto_img a {
  text-decoration: none;
  color: #fff;
}

.texto_img a:hover {
  color: #000;
}