* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.slide_show_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.img_slide {
  vertical-align: middle;
}

.btn_anterior, .btn_proximo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  transition: 0.4s ease;
  user-select: none;
}

.btn_anterior {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.btn_proximo {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.btn_anterior:hover, .btn_proximo:hover, .texto_slide:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.texto_slide {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  transition: 0.4s ease;
}

.numero_slide {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
}

.indicador {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.ativo, .indicador:hover{
  background-color: #777;
}

.fade {
  animation-name:fade;
  animation-duration: 1.3s;
  -webkit-animation-name:fase;
  -webkit-animation-duration: 1.3s;
}

@-webkit-keyframes fade {
  from {opacity: .4;}
  to {opacity: .1;}
}

@keyframes fade {
  from {opacity: .4;}
  to {opacity: .1;}
}

