body {
  font-family: "Lato", sans-serif;
}

.menu_oculto {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu_oculto a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #888;
  display: block;
  transition: 0.3s;
}

.menu_oculto a:hover {
  color: #fff;
}

.btn_fechar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#principal {
  padding: 16px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px){
  .menu_oculto{
    padding-top: 15px;
  }

  .menu_oculto a {
    font-size: 18px;
  }

}

