img {
  width: 400px;
}

.filtro1 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.filtro2 {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.filtro3 {
  -webkit-filter: brightness(400%);
  filter: brightness(400%);
}

.filtro4 {
  -webkit-filter: contrast(300%);
  filter: contrast(300%);
}

.filtro5 {
  -webkit-filter: drop-shadow(0px 0px 10px gray);
  filter: drop-shadow(0px 0px 10px gray);
}

.filtro6 {
  -webkit-filter: hue-rotate(180deg);;
  filter: hue-rotate(180deg);
}

.filtro7 {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.filtro8 {
  -webkit-filter: opacity(30%);
  filter: opacity(30%);
}

.filtro9 {
  -webkit-filter: saturate(500%);;
  filter: saturate(500%);
}

.filtro10 {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

.filtro11 {
  -webkit-filter: contrast(200%) brightness(400%);;
  filter: contrast(200%) brightness(400%);;
}